.botonActualizar {
  display: flex;
  width: 1vw;
  height: auto;
  transform: translateY(-100vw);
  }
  
  .imagen6 {
    width: 100%;
    height: auto;
    border: none;
  }
  
  @media screen and (max-width: 1000px) {
    .imagen6 {
      width: 40%;
      height: 40%;
    }
    .botonActualizar {
      display: flex;
      gap: 5vw;
      width: 15vw;
      height: 15vh;
      transform: translateX(1vw);
      }
  }
  
  
