.contenedorbutton{
    display: flex;
    flex-direction: column;
    gap: 280px;
    justify-content: center;
    transform: translateX(-60px)
}

.imagen5{
    width: 80%;
    height: 80%;
    border:none;

}
.imagen6{
    width: 80%;
    height: 80%;
    border:none;
}

@media screen and (max-width: 1024px) {
    .contenedorbutton{
        display: flex;
        flex-direction: column;
        gap: 85px;
        transform: translateX(-43px)
    }
    .imagen5{
        width: 60%;
        height: 60%;
        border:none;
    
    }
}
