.botonActualizar {
  align-self: flex-end;
 
  }
  
  .imagen6 {
    border: none;
    width: 80%;
  }
  
  @media screen and (max-width: 1000px) {
    .imagen6 {
      width: 60%;
      height: 60%;
    }
  }
  
  
