@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}



.footerDistributed{
  background: #191716;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height: auto;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 45px;
}

.footerDistributed .footerLeft,
.footerDistributed .footerCenter,
.footerDistributed .footerRight{
  display: inline-block;
  vertical-align: top;
}

.footerDistributed .footerLeft{
  width: 40%;
}


.footerDistributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footerDistributed h3 span{
  color:  rgb(0, 251, 255);
}

/* Footer links */

.footerDistributed .footerLinks{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footerDistributed .footerLinks a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footerDistributed .footerCompanyName{
  color:  grey;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footerDistributed .footerCenter{
  width: 35%;
}

.footerDistributed .footerCenter i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footerDistributed .footerCenter i.faEnvelope{
  font-size: 17px;
  line-height: 38px;
}

.footerDistributed .footerCenter p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footerDistributed .footerCenter p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footerDistributed .footer-center p a{
  color:  red;
  text-decoration: none;;
}

.footerDistributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footerDistributed .footerLinks .link1:before {
  content: none;
}

/* Footer Right */

.footerDistributed .footerRight{
  width: 20%;
}

.footerDistributed .footerCompanyAbout{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footerDistributed .footerCompanyAbout span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footerDistributed .footerIcons{
  margin-top: 25px;
}

.footerDistributed .footerIcons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}



@media (max-width: 800px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  
.footerDistributed{
    background: #191716;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    margin: 0;
    width: auto;
    height:auto;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 45px;
    flex-wrap: wrap;
    flex-direction: column;
  }

 
.footerDistributed .footerRight{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
  }
  .footerDistributed .footerCenter{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
  }
  .footerDistributed .footerLeft{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    flex-direction: row;
    gap: 10vw;
  }
  .footerDistributed .footerCompanyAbout span{
    display: flex;
    color:  #ffffff;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
.footerDistributed .footerCenter i.faEnvelope{
    font-size: 14px;
    line-height: 20px;
  }
  
  .footerDistributed .footerCenter p{
    display: inline-block;
    color: #ffffff;
    font-weight:200;
    vertical-align: middle;
    margin:0;
  }
  .footerDistributed .footerCenter i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  .footerDistributed .footerCenter i.faEnvelope{
    font-size: 12px;
    line-height: 38px;
  }
  .footerDistributed .footerCenter p{
    display: inline-block;
    color: #ffffff;
    font-weight:200;
    vertical-align: middle;
    margin:0;
  }
  .footerDistributed .footerCenter p span{
    display:block;
    font-weight: normal;
    font-size:12px;
    line-height:2;
  }
  .footerDistributed .footerCompanyAbout{
    line-height: 20px;
    color:  #92999f;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
  }
  
  .footerDistributed .footerCompanyAbout span{
    display: block;
    color:  #ffffff;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .footerDistributed .footerCompanyName{
    display: flex;
    flex-direction: row;
    color:  grey;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
  }
  .footerDistributed .footerCenter i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 10vw;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
.footerDistributed .footerCenter{
  display: none;
  vertical-align: top;
}
}