.contenedorFooter {
    display: flex;
    bottom: 0;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
/*     background:  rgba(2, 2, 2, 0.748)100%; */

  }
  
  .contenido {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  
  .home,
  .logout {
    width: 5%;
    border-radius: 20%;
  }
  
  @media screen and (max-width: 768px) {
    .home,
    .logout {
      width: 20vw;
      border-radius: 20%;
      border-color: none;
      margin-top: 5%;
      transform: scale(0.5);
    }
    .contenedorFooter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 12vw;
    
      }
        
  .contenido {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 95%;
  }
  }
  