/* .contenedorContenido{
    margin: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #D9D9D9;
    width: 45vw;
    height: 50vh;
    margin-top: 10vw;
    margin-left: 25vw;
    justify-content: space-between;
    align-items: center; 
    border-radius: 10%;
    box-shadow: 1px 1px 1px 2px black;
    border-color: 2px solid black;
    position: relative;
}

.contenedorCuadro{
    width: 90%;
}
.contenido{
    justify-content: left;
    margin: 1vw;
    width: 80%;
    align-items:start;
    font-size: 20px;
}
.button {
    background-color: #D9D9D9 !important;
    box-shadow: 2px 2px 2px 2px black !important;
    
}
.usuario{
    box-shadow: 1px 1px 1px 2px black;
    margin: 2px;
    background-color: #D9D9D9 !important;
}
.password{
    box-shadow: 1px 1px 1px 2px black;
    margin: 2px;
    background-color: #D9D9D9 !important;
    
}
.contenedorContenido .contenido .alerta {
    font-size: 16px;
    padding: 10px;
  }

@media screen and (max-width: 1100px) {
   .alerta {
        font-size: 25px !important;
        padding: 2px;
      }
      .contenido{
        justify-content: left;
        margin: 1vw;
        width: 100%;
        align-items:start;
        font-size: 35px !important;
    }
    .contenedorContenido{
        margin: 2vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #D9D9D9;
        width: 60vw;
        height: auto;
        margin-top: 20vw;
        margin-left: 18vw;
        justify-content: space-between;
        align-items: center; 
        border-radius: 10%;
        box-shadow: 1px 1px 1px 2px black;
        border-color: 2px solid black;
    }
  }
@media screen and (max-width: 600px) {
    .contenido{
        justify-content: center;
        margin: 1vw;
        width: 100%;
        align-items:center;
    }
    .contenedorContenido{
        margin: 2vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #D9D9D9;
        width: 55vw;
        height: auto;
        margin-top: 10vw;
        margin-left: 20vw;
        justify-content: space-between;
        align-items: center; 
        border-radius: 10%;
        box-shadow: 1px 1px 1px 2px black;
        border-color: 2px solid black;
    }
     .alerta {
        font-size: 12px !important;
        padding: 2px;
      }
}
@media screen and(min-width: 800px) {
    .contenedorContenido{
        margin: 2vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #D9D9D9;
        width: 45vw;
        height: auto;
        margin-top: 0;
        margin-left: 25vw;
        justify-content: space-between;
        align-items: center; 
        border-radius: 10%;
        box-shadow: 1px 1px 1px 2px black;
        border-color: 2px solid black;
    }
    .contenido{
        justify-content: left;
        margin: 1vw;
        width: 100% !important;
        height: 100%;
        align-items:start;
        font-size: 25px;
    }
    .alerta {
        font-size: 12px !important;
        padding: 2px;
      }
} */
.contenedorContenido {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #a39e9e;
    width: 100%;
    height: auto;
    padding: 2rem;
    gap: 5rem;
    border-radius: 10px;
    box-shadow: #aeaeae 0px 0px 5px 1px;
}

.DivUser {
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;


}

.DivPassword {
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;




}

form {

    display: flex;
    height: auto;
    width: 50%;
    margin: 5vh auto;

}

.button {

    width: 40%;
    height: 4rem;
    border: none;
    background-color: #706a6a;
    text-align: center;
    border-radius: 5px;

}

.Input {
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    border: none;
    text-align:justify;

}

.password {}

.DivTitulo {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;



}
.titulo{
font-family:Pacifico ;
font-size: 3rem;
}

@media screen and (min-width: 1024px) {
    .contenedorContenido {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        background-color: #a39e9e;
        width: 100%;
        height: auto;
        padding: 2rem;
        gap: 5rem;
        border-radius: 10px;
        box-shadow: #aeaeae 0px 0px 5px 1px;
    }
    form {

        display: flex;
        height: auto;
        width: 50%;
        margin: 5vh auto;
    
    }
  
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .contenedorContenido {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        background-color: #a39e9e;
        width: 100%;
        height: auto;
        padding: 2rem;
        gap: 5rem;
        border-radius: 10px;
        box-shadow: #aeaeae 0px 0px 5px 1px;
    }
    
    form {

        display: flex;
        height: auto;
        width: 80%;
        margin: 5vh auto;    
    }

    

    
}


@media screen and (max-width: 767px) {
    .contenedorContenido {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        background-color: #a39e9e;
        width: 100%;
        height: auto;
        padding: 1rem;
        margin: 2.5rem 0;
        gap: 2.5rem;
        border-radius: 10px;
        box-shadow: #aeaeae 0px 0px 5px 1px;
    }
    form {

        display: flex;
        height: auto;
        width: 80%;
        margin: 0.1% auto;
        padding: auto auto;
    
    }

}