.ContenedorPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#878181 ;
    width: auto;
    height: auto;
    margin: 5% auto;
    

  }
  
  .DivArriva{
    display: flex;
    justify-content: center;
    align-items: center;
    Height: 100 ;
    width: 100%;
  }
  .DivAbajo{

    display: flex;
    justify-content: center;
    Height: 100%;
    width: 100%;

  }
  .DivAbajoIzquierda{
    display: flex;
    justify-content: center;
  }
  .DivAbajoDercha{
    display: flex;
    justify-content: center;

  }
  @media screen and (min-width: 1024px) {
    .Boton {

        height: 257px;
        width: 463px;
        left: 488px;
        top: 237px;
        border-radius: 28px;
        
    
    
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {

  .ContenedorPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#878181 ;
    width: auto;
    height: auto;
    margin: 5% auto;
    

  }
    
}


@media screen and (max-width: 767px) {
    .Boton {

        height: 100px;
        width: 200px;
        border-radius: 28px;

    }

}
