
  
  .container {
    height: 200px;
    width: 25rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 2px;
    align-self: flex-end;
  }
  
  .DivForm {
    background-color: #d9d9d9;
    height: auto;
    width: 40vw;
    border-radius: 5px;
    margin: 2% auto;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    flex-wrap: wrap;

      
  }
  
  
  .inputscontainer {
    display: flex;
  }
  
  .subtitle {
    font-family: Prociono;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    color: white;
  }
  
  .DivFormDerecha {
    height: 70vh;
    width: 32vw;
    display: flex;
    background-color: #13060680;
    padding: 2rem;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin-left:10%;
  }
  
  .DivFormInputDerecha {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    gap: 4rem;
  }
  
  .DivFormInputIzquierda {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 4rem;
    
  }
  
  .inputforms {
    width: 60%;
    height: 2.5rem;
    background: #d9d9d9;
    border-radius: 5px;
    border: 0px;
  }
  
  .DivFormInputIzquierda {
    height: 80vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  
  .DivDescripcion {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 80%;
    height: 45%;
    background-color: #13060680;
  }
  
  .DivUpload {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 80%;
    height: 45%;
    background-color: #13060680;
  }
  .botonActualizar {
    display: flex;
    gap: 5vw;
    width: 5vh;
    transform: translateX(35vw);
    margin-top: 5%;
    }
    .fileupload{
      transform: scale(0.5);
      width: 20vw;
      height: auto;
    }
    
    .imagen6 {
      width: 100%;
      height: auto;
      border: none;
    }
    
    @media screen and (max-width: 1000px) {
      .imagen6 {
        width: 40%;
        height: 40%;
      }
      .botonActualizar {
        display: flex;
        gap: 5vw;
        width: 15vw;
        height: 15vh;
        transform: translateX(1vw);
        }
    }
    
    
  
  

      
      
