.conteiner_nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color:#1E1E1E;
}


.logo {
  flex: 1;
  max-width: 100%;
  height: auto;
  margin-left:1.5%;
}

.img {
  max-width: 40%;
  padding:3%;
  height: auto;
}

.DivTexto {
  flex: 2;
  text-align: right;
    margin-right:2.5%;
  font-size: 40px;
  text-shadow: 2px 2px 4px #2f2e2e;
  font-family: inherit;
  color: #FFFFFF;
}


@media screen and (max-width: 768px) {
  .conteiner-nav {
    flex-direction: column;
    height: auto;
  }
  
  .logo {
    width: 25%;
    margin: 0 auto;
    max-width: 70%;
  }
  
  .texto {
    flex: unset;
    justify-content: left;
    text-align: left;
    font-size: 18px;
    margin: 10px;
  }
}

