.ContenedorPrincipal {
    display: flex;
    flex-wrap: wrap;
    background-color: #D9D9D9;
    width: auto;
    height: 40vw;
    margin: 1vw;
    border: 2px solid #8f8a8a;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
  }
  
/*   .ContenedorPrincipal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transform: skew(-20deg);
    transform-origin: top left;
    z-index: -1;
    filter: blur(10px);
    opacity: 0.5;
    pointer-events: none;
  } */
  
  .Contenedorcontenido1 {

    margin: 2vw;
    width: 100%;
    background-color: aquamarine;
    height: auto;
  }
  
  .contenido1 {
    margin: 1vw;
    width: 100%;
    height: auto;
    font-size: 25px;
    
  }
  
  .img1 {
    width: 20%;
  }
  
 .divabajo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    Height: 100%;
    width: 100%;    
    gap: 20px;
 }
  .img1 img {
    margin: 1vw;
    left: 35vw;                                                                                                                           
    width: 120%;
    height: auto;
    border-radius: 10%;
  }
  .img2{

    width: 20%;
   
  }
  .img2 img {
    
    left: 12vw;
    width: 120%;
    top: 2vw;
    border-radius: 10%;
  }
  
  .img3{

    width: 20%;
  }
  .img3 img {
    
    left: 60vw;
    width: 120%;
    bottom: 10vw;
    border-radius: 10%;
  }
  
  img {
    border: 2px solid rgba(53, 52, 52, 1);
  }

@media screen and (max-width:1000px) {

.ContenedorPrincipal {
    
    display: flex;
    flex-wrap: wrap;
    background-color: #D9D9D9;
    width:95vw;
    height: 90vw;
    margin: 2.5vw;
    margin-top: 10vh;
    border: 2px solid #8f8a8a;
    overflow: hidden;
  }

.img2,
.img3{
    width: 100%;
  }
  .img2 img{
    width: 100%;
  }
  .img3 img {
    width: 100%;
  }
  
  .divabajo{
    display: flex;
    justify-content: space-around;
    Height: 100%;
    width: 100%;    
 }

}